PROMETHEUS_PORT = "9011"

FILES_PATH = "data/temp_print_files/"
PRINT_JOB_EXPIRED_AFTER = "60"
SCAN_JOB_EXPIRED_AFTER = "60"

INNOID_API_URL = "https://api.innoid.ru/v1"
INNOID_API_AUTH_TOKEN = ""

TELEGRAM_BOT_TOKEN = ""

BOT_CUPS_SUBSCRIPTION_LOCAL_ADDRESS = "Bot"

WEB_APP_URL = ""
WEB_APP_PORT = "8011"

PRINTER_HOST = ""

CUPS_SERVER = "cups"
CUPS_PORT = "631"
CUPS_USER = "admin"
CUPS_PASSWORD = ""
CUPS_PRINTER_NAME = "InnoPrintBot-Printer"
CUPS_PRINTER_PROTOCOL = "ipp"
CUPS_PRINTER_PORT = "631"
CUPS_PRINTER_PPD_FILE_LOCATION = "data/Printer.ppd"

ESCL_SCAN_PROTOCOL = "https"
ESCL_SCAN_PORT = "9096"


LONGPOLL_AUTH_TOKEN = ""